.game-page-wrap {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coin-info {
  display: flex;
  background-color: rgba(0, 0, 0, 15%);
  width: 180px;
  height: 76px;
  border-radius: 30px;
}

.bottom-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
